bin/
bin-int/
*.dir/
CMakeFiles/
x64/
.idea/
.vs/
cmake-build-debug*/
cmake-build-release*/
/lib/
draco/
release-build*/
debug-build*/
Testing/
.swp
*.sln
*.user
*.vcxproj
*.filters
*.cmake

*.iml
*.cbp
CMakeCache.txt
Makefile
draco.pc
